<nav>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/prokects">Projects</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/task">Task</a>
        </li>
        <li>
            <a href="/create_task">Create a new task</a>
        </li>
        <li>
            <a href="/create_project">Create a new project</a>
        </li>
    </ul>
</nav>

{% block content%} 
{% endblock %}